@import url('https://fonts.googleapis.com/css2?family=Familjen+Grotesk:ital,wght@0,400..700;1,400..700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Familjen Grotesk';
}

li {
  list-style: none;
}

a,
a:visited {
  text-decoration: none;
  color: #000;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #fff;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  border-bottom: solid 1px #000;
}

.head-left a {
  display: flex;
  align-items: center;
}

.head-right {
  margin-right: 2rem;
  ul {
    display: flex;
    align-items: center;

    li {
      margin: 20px;
      font-size: 1.25rem;
    }
  }
}

.anything-boy {
  margin: 0px 30px 0px 30px;
  width: 4rem;
}

h1 {
  margin-left: 10px;
  font-size: 4rem;
  font-weight: 900;
}

p {
  color: #fff;
  font-size: 1.5rem;
}

main {
  background-color: #555a;
  display: flex;
  justify-content: right;
  overflow: hidden;
}

.flex-left {
  margin-top: 100px;
  width: 30vw;
}

.flex-right {
  padding: auto 50px;
  width: 70vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
  max-height: 100%;
  flex: 1;
}

.spaced-heading {
  color: #fff;
  margin-top: 15vh;
}

nav {
  position: fixed;
  display: flex;
  height: calc(100vh - 100px);
  align-items: center;
  margin-left: calc(4rem + 80px);
}

.nav-list li {
  margin: 80px 0px;
  font-size: 3rem;
  a {
    color: #fff;
  }
  text-shadow: 2px 2px #000;
}

.nav-list li:hover {
  margin-left: 10px;
}

.bg-vid {
  position: absolute;
  min-height: 100vh;
  min-width: 100vw;
  z-index: -1;
}

/* PROMO */

.promo-main {
  background-color: #444;
}

.promo-vids {
  margin: 50px 100px;
  width: 80%;
  height: 50vh;
}

/* CONTACT */

.contact-main {
  width: 100vw;
  height: 100vh;
  background-color: #444a;
}

.contact-main .flex-right {
  justify-content: center;
}

.contact-main .flex-right :first-child {
  margin-top: 0;
}

.anything-boy-bg {
  position: absolute;
  bottom: -200px;
  right: -200px;
}

.contact-list {
  font-size: 3rem;
  color: #fff;
  z-index: 1;
}

/* MUSIC VIDEOS */

.music-videos-main {
  background-color: #444a;
}

/* ABOUT */

.about-main {
  height: 100vh;
}

.about-main .flex-right .about {
  width: 50%;
  margin-top: 0;
  align-items: start;
}

/* PROJECTIONS */

.projections-main {
  height: 100vh;
  p {
    width: 80%;
    margin-bottom: 30px;
  }
  .flex-right img {
    width: 80%;
    border-radius: 10px;
  }
}
